.order-item{
    display: flex;
    justify-content: start;
    height: fit-content;
    width: 100%;
    padding: 16px 0;
    align-items: center;
    color: #454545;
}

.order-item-id, .order-list-header-id{
    width: 25%;
    min-width: 205px;
}
.order-item-date, .order-list-header-date{
    width: 17%;
    min-width: 80px;
}
.order-item-recipient, .order-list-header-recipient{
    width: 20%;
    min-width: 125px;
}
.order-item-total, .order-list-header-total{
    width: 13%;
    min-width: 100px;
}
.order-item-state, .order-list-header-state{
    width: 15%;
    min-width: 105px;
}
.order-item-see-detail, .order-list-header-see-detail{
    width: 10%;
    min-width: 80px;
    font-size: 14px;
    color: #c93333;
    cursor: pointer;
}
.order-item-see-detail:hover{
    color: #c91111;
}
.order-item-see-detail:active{
    color: #c10000;
}

#order-item-date-2{
    visibility: hidden;
    display: none;
}

@media only screen and  (max-width: 1270px) {
    #order-item-date-2{
        visibility: visible;
        display: block;
    }
    #order-item-date-1{
        visibility: hidden;
        display: none;
    }
}