.popup-box{
    height: fit-content;
    width: 320px;
    margin-left: -175px;
    top: 26%;
}

.popup-box-title{
    padding-bottom: 16px;
}

.popup-item-wrap{
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 0 0 0 8px;
}

.popup-item-input{
    width: 272px;
    height: 33.5px;
    padding: 3.75px 17.16px;
    border-radius: 5px;
    border: 1px solid #CDCFD0;
    box-shadow: none;
    outline: none;
    font-size: 16px;
}

.popup-item-special-otp{
    position: relative;
    right: 56px;
    font-size: 14px;
    color: #2F80ED;
    cursor: pointer;
    min-width: 53px;
    width: 0;
}

.popup-item-input.popup-item-special{
    padding-right: 64px;
}

#new-phone-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.popup-box .warning{
    width: fit-content;
    height: fit-content;
    padding: 2px 0 8px 10px;
    margin: 0;
    font-size: 12px;
    color: red;
    align-self: flex-start;
  }